/* src/index.css */

/* Importação de Fontes */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

/* Diretivas Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos Base */
:root {
  --text-primary: #213547;
  --bg-primary: #ffffff;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Componentes */
.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 1.25rem;
}

.logo {
  max-width: 11.25rem;
  height: auto;
  margin-bottom: 1.25rem;
  display: block;
}